<h1>Login Stuff</h1>
<div>
    <div>
      <h3>Login with your Redress account</h3>
      <form action="/login" method="post">
        <div>
          <label>Username:</label>
          <input type="text" name="username"/>
        </div>
        <div>
          <label>Password:</label>
          <input type="password" name="password"/>
        </div>
        <div>
          <input type="submit" value="Log In"/>
        </div>
      </form>
    </div>
    <div>
      <h3>Or : <a href="/register">Register with us for the first time</a></h3>
    </div>
    <div>
      <h3>Or : <a href="/auth/google">Sign In with Google</a></h3>
    </div>
    <div>
      <h3>Or : <a href="/auth/facebook">Login with Facebook</a></h3>
    </div>

</div>