<form action="/users" method="POST">
  <label for="user[email]">Email Address</label>
  <input type="email" name="user[email]" />

  <label for="user[firstName]">First Name</label>
  <input type="firstName" name="user[firstName]" />

  <label for="user[lastName]">Last Name</label>
  <input type="lastName" name="user[lastName]" />

  <label for="user[password]">Password</label>
  <input type="password" name="user[password]">
  
  <label for="user[passwordConfirm]">Confirm Password</label>
  <input type="password" name="user[passwordConfirm]">
  
  <input type="submit" />
</form>